<div class="callout-block callout-block-{{severity}}">
    <div class="content">
        <h4 class="callout-title">
            <span class="callout-icon-holder me-1">
                <i class="fas {{icon}}"></i>
            </span>
            {{title}}
        </h4>
        {{quote}}
    </div>
</div>
