<a
    href="{{#local}}documentation{{{href}}}{{/local}}{{^local}}{{{href}}}{{/local}}"
    title="{{title}}{{^local}} (external link){{/local}}"
    target="{{#local}}_self{{/local}}{{^local}}_blank{{/local}}"
    >
        {{{text}}}{{^local}} <i class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i>{{/local}}</a>
