<div class="page-header theme-bg-dark py-5 text-center position-relative">
    <div class="theme-bg-shapes-right"></div>
    <div class="theme-bg-shapes-left"></div>
    <div class="container">
        @if (title) {
            <h1 class="page-heading single-col-max mx-auto">{{ title }}</h1>
        }
        @if (subTitle) {
            <div class="page-intro single-col-max mx-auto">{{ subTitle }}</div>
        }
        <div class="main-search-box pt-3 d-block mx-auto">
             <form class="search-form w-100" (submit)="handleSearch($event)" [formGroup]="searchForm">
                <input type="text" autofocus placeholder="Search the docs..." name="search" class="form-control search-input" formControlName="term" (click)="openSearch()">
                <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
            </form>
        </div>
        @if (showGithubButtons) {
            <div class="github-button-container">
                @for (type of types; track $index) {
                    <ntkme-github-button
                    [user]="user"
                    [repo]="repo"
                    [count]="count"
                    [size]="size"
                    [type]="type"
                    [target]="'_blank'"
                ></ntkme-github-button>
                }
            </div>
        }
    </div>
</div>
