<header class="header fixed-top">

    <div class="branding docs-branding">
        <div class="container-fluid position-relative py-2">
            <div class="docs-logo-wrapper">
                @if (hamburger) {
                    <button id="docs-sidebar-toggler" class="docs-sidebar-toggler docs-sidebar-visible me-3 d-xl-none" type="button" (click)="toggleSidebar()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                }
                <div class="site-logo">
                    <a class="navbar-brand" routerLink="">
                        <img class="logo-icon me-2" src="assets/images/coderdocs-logo.svg" alt="logo">
                        <span class="logo-text">
                            IGDB<span class="text-alt">Wrapper</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="docs-top-utilities d-flex justify-content-end align-items-center d-none d-lg-flex">
                @if (searchbar) {
                    <div class="top-search-box d-none d-lg-flex me-3">
                        <app-search-form></app-search-form>
                    </div>
                }
                @if (latestRelease) {
                    <a role="button" class="btn btn-primary" [href]="latestRelease.zipball_url" placement="bottom" [ngbTooltip]="'IGDB Wrapper ' + latestRelease.tag_name" (click)="downloadNotification()">
                        Download
                    </a>
                }
            </div>
        </div>
    </div>
</header>
