<header class="header fixed-top">

    <div class="branding docs-branding">
        <div class="container-fluid position-relative py-2">
            <div class="docs-logo-wrapper">
                @if (hamburger) {
                    <button id="docs-sidebar-toggler" class="docs-sidebar-toggler docs-sidebar-visible me-3 d-xl-none" type="button" (click)="toggleSidebar()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                }
                <div class="site-logo">
                    <a class="navbar-brand" routerLink="">
                        <img class="logo-icon me-2" src="assets/images/coderdocs-logo.svg" alt="logo">
                        <span class="logo-text">
                            IGDB<span class="text-alt">Wrapper</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="docs-top-utilities d-flex justify-content-end align-items-center d-none d-lg-flex">
                @if (searchbar) {
                    <div class="top-search-box d-none d-lg-flex me-3">
                        <form class="search-form">
                            <input type="text" name="search" class="form-control search-input" searchField>
                            <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                }
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-primary" id="download-dropdown" ngbDropdownToggle [disabled]="!isOnline">
                        Download
                    </button>
                    <ul ngbDropdownMenu class="shadow" aria-labelledby="download-dropdown">
                        @if (latestRelease) { <li><a ngbDropdownItem [href]="latestRelease.zipball_url">Latest release (<span>{{latestRelease.tag_name}}</span>)</a></li>}
                        <li><a ngbDropdownItem href="#">Documentation (PDF)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
