ntkme-github-button {
    position: relative;
    z-index: 999;
    margin: 0px 2px;
}

div.github-button-container {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input.token-field {
    font-family: 'Courier New', Courier, monospace;
}
